.cnt {
    // padding-top: 5rem;
    padding: 5rem 20rem;
    height: fit-content;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.800);
}
.cnt h1 {
    text-align: center;
}
.text_h {
    font-size: larger;
}