<div class="cnt">
    <h1>Nuestra historia</h1>
    <div class="text_h">
        <p>Bienvenidos a DunkWear, tu destino en línea para camisetas de básquet únicas y de alta calidad. Nuestra
            pasión
            por el baloncesto nos llevó a crear este ecommerce en 2021 con la misión de ofrecer a los
            fanáticos del básquet una manera de expresar su amor por el juego tanto dentro como fuera de la cancha.</p>
        <p>Todo comenzó cuando nuestro fundador, un entusiasta jugador y coleccionista de camisetas, se dio cuenta de la
            falta de opciones auténticas y originales en el mercado local. Junto a un grupo de amigos aficionados al
            baloncesto, decidimos crear DunkWear para llenar ese vacío y brindar a los fanáticos productos que realmente
            representen su pasión.</p>
        <p>En DunkWear, cada camiseta es más que una prenda; es una declaración de amor por el deporte. Nos enorgullece
            trabajar con materiales de alta calidad y ofrecer ejemplares que no suelen llegar al pais.</p>
        <p>Gracias por ser parte de nuestra comunidad. Esperamos que nuestras camisetas te inspiren tanto como nosotros
            disfrutamos al traerlas para que mas fanaticos puedan tener las camisetas de sus franquicias favoritas.</p>
        <p>¡Únete al equipo DunkWear y viste tu pasión!</p>
    </div>
</div>