.carrito-cnt {
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    position: inherit;
    top: 0;
}

.carrito_elem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    width: 30rem;
    vertical-align: middle;
    border: 0px solid;
    border-radius: 20px;
    padding: 1rem;
    margin: auto auto 2rem auto;
}

img {
    width: 12rem;
}