<div class="carrito-cnt">
    <h1>CARRITO</h1>
    <ul class="mt-2">
        @for (l of (lista$ | async); track $index) {
        <li class="d-flex flex-row carrito_elem">
            <div>
                <img [src]="l.imagen" class="card-img-top" [alt]="l.nombre">
            </div>
            <h4>{{l.nombre}} - {{l.cant_a_comprar}} unidades</h4>
            <div class="d-flex flex-column">
                <button class="btn btn-primary m-2" (click)="disminuir(l)">-</button>
                <input type="number" disabled="true" style="width: 30%; text-align: center;" [(ngModel)]="l.cant_a_comprar">
                <button class="btn btn-primary m-2" (click)="aumentar(l)">+</button>
            </div>
        </li>
        }
    </ul>
</div>