nav {
    width: 100vw;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    color: black;
    font-weight: bold;
}
#logo {
    font-weight: bolder;
    color: green;
    font-size: x-large;
    margin: 0;
    padding: 0;
    // margin-right: 3rem;
}