<div class="lista_contenedor">
    <h1 id="titulo">Bienvenido al sitio de venta de camisetas NBA</h1>
    <div class="lista_camisetas">
        <div class="d-flex flex-row flex-wrap justify-content-around">
            @for (e of elementos; track $index) {
            <div>
                <div class="card mb-4 tarjeta" style="width: 18rem; height: fit-content; text-align: center;">
                    <img [src]="e.imagen" class="card-img-top" [alt]="e.nombre">
                    <div class="card-body">
                        <h5 class="card-title">{{e.nombre}}</h5>
                        <p class="card-text">${{e.precio}}</p>
                        @if (e.cant_disponible > 0) {
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" (click)="habilitarDetalle(e.id)">
                            Ver Detalle
                        </button>
                        } @else {
                        <p class="bg-danger" style="text-align: center; padding: 0; color: white;">Sin stock</p>
                        }
                    </div>
                </div>
            </div>
            }
        </div>

        <div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @if (mostrarDetalle) {
                            <app-detalle-elemento [elemento]="elementos[id]"></app-detalle-elemento>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>