.contenedor {
    background-image: url('../assets/background2.jpeg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.carro {
    padding: 0;
    margin-bottom: 0;
    top: 0;
}