nav {
    width: 100vw;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    color: black
}
.contenedor {
    background-image: url('../assets/background2.jpeg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.carro {
    padding: 0;
    margin-bottom: 0;
    top: 0;
}